.food_container_title{
   
    margin-bottom: 20px;
}

.food_container{
    margin: 20px;
    padding: 20px;
    // background-color:lightblue;
    img{
        width: 300px;
        height: 30vh;
        border: 2px white solid;
    }

    img:hover{
        opacity: 0.7;
    }
}

@media(max-width: 600px){

    .food_container{
        margin: 10px;
        padding: 0px;
        // background-color:lightblue;
        img{
            width: 270px;
            height: 28vh;
            border: 2px white solid;
        }
    }
    
}