.header_nav{
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    opacity: 0.5;
    
}

.scrolled_nav{
    background-color: white;
    opacity: 0.95;
}