.foodDetail_container{
    display: flex;
     color: #525860;
    margin: 20px;
    font-size: 1.2rem;
    
    img{
        width: 300px;
    }

    h2{
        color: #778df0;
    }
    
}

.foodData_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    h2, p{
        margin-bottom: 10px;
    }

}