.foodDetail_container{
    display: flex;
     color: #525860;
    margin: 20px;
    font-size: 1.2rem;
    flex-wrap: wrap;
    
    img{
        width: 300px;
    }

    h2{
        color: #38598b;
    }
    
}

.foodData_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    h2, p{
        margin-bottom: 10px;
    }

}



@media(max-width:600px){

    .foodDetail_container{
       font-size: 0.9rem;
       justify-content: center;
        img{
            width: 270px;
        }

       
        
    }

    .foodData_container{
        
        display: flex;
        flex-direction: column;
        width: 275px;
        h2, p{
            margin-bottom: 10px;
        }
    
    }

}