.foodDetail_container{
    display: flex;
    color: black;
    margin: 20px;
    
    img{
        width: 300px;
    }
    
}

.foodData_container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    h2, p{
        margin-bottom: 10px;
    }

}