
$color1:#d1cebd;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body, html{


min-height: 100%;
 font-size: 16px;
font-family: "Lato", sans-serif;
line-height: 1.2em;
color: black;
width: auto!important; 
overflow-x: hidden!important
   
}







@import "./pages/contact/Contact";
@import "./pages/home/Home";
@import "./pages/menu/Menu";
@import "./pages/reservation/Reservation";
@import "./pages/food_details/FoodDetails";



@import "./components/footer/Footer";
@import "./components/navbar/Navbar";
@import "./components/restaurant/Restaurant";
@import "./components/carta/Carta";
@import "./components/food_detail/FoodDetail";
@import "./components/submenu/Submenu";
@import "./components/reservation/ReservationComponent";


