.fullMenu_container{
    background-image: url("../../../public/assets/img/escarcha.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
     min-height: 100vh;
     font-size: 1.2rem;
     padding: 150px 0 100px 0;
  
    section{
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    
}

.carta_title{
     font-size: 2rem;
    padding: 20px 0 30px 0;
    color: white;
    letter-spacing: 1.2rem;
}

@media(max-width: 600px){
    .carta_title{
        font-size: 2rem;
        line-height: 2rem;
       padding: 20px 0 30px 0;
       color: white;
       
   } 
}